@model PDV_Consultor.Models.ProdutoItem

@*@{
    ViewData["Title"] = "Edit";
}*@

<h1>Edit</h1>

<h4>ProdutoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SerialNumber" />
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label">Serial</label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label">Produto</label>
                <select asp-for="ProdutoId" class="form-control" asp-items="@ViewBag.ProdutoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label">Preço (0.00)</label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
